
*{
	padding:0;
	margin: 0;
	box-sizing: border-box;
}
.container{
    width:100%;
    height: auto;
    font-family: 'Mouse Memoirs', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #ff99b6;
    overflow: hidden;
}
.banner{
    width:100vw;
    height: 100vh;
    background-image: url(./img/hannah1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    animation-name: example;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    /* border-radius: 0 0 200px 0; */
}

@keyframes example{
    0%{
      background-image: url(./img/hannah1.jpeg);
    }
    25%{
      background-image: url(./img/hannah2.jpeg);
    }
    50%{
      background-image: url(./img/hannah3.jpeg);
    }
    75%{
      background-image: url(./img/hannah4.jpeg);
    }
 }

 .waviy {
    position: relative;
  }
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 44px;
    color: rgba(239, 17, 158, 0.955);
    text-shadow: #130cf1;
    /* text-transform: uppercase; */
    animation: flip 2.8s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }

.nav{
    width:90%;
    height: auto;
    /* background-color: rgba(255, 17, 84, 0.669); */
    color:rgba(255, 17, 84, 0.767);
    text-shadow: 0 3px 10px rgba(250, 246, 246, 0.81);
    /* border-radius: 30px; */
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 0.6rem;
    align-items: center;
    /* flex-wrap: wrap; */
}
.nav b{
    font-size: 40px;
}


.text{
    width:100%;
    position: relative;
    top:12.5rem;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.text h1{
    color:rgba(255, 17, 84, 0.767);
    text-shadow: 0 3px 10px rgba(250, 246, 246, 0.81);
}
.text .date{
    color:#fff;
    background-color: rgba(255, 17, 84, 0.669);
    padding: 5px;
    border-radius: 40px 40px 40px 40px;
    transition-duration: .8s;
}
.text .date:hover{
    background-color: #fff;
    color:#f15;
}

.title-word {
    animation: color-animation 4s linear infinite;
  }
  
  .title-word-1 {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
  }
  
  .title-word-2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
  }
  
  .title-word-3 {
    --color-1: #ACCFCB;
    --color-2: #E4A9A8;
    --color-3: #ACCFCB;
  }
  
  .title-word-4 {
    --color-1: #3D8DAE;
    --color-2: #DF8453;
    --color-3: #E4A9A8;
  }
  
  @keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
  }

  .waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 1.1rem;
  }
  .waviy2 span {
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy2 1s infinite;
    animation-delay: calc(.1s * var(--i));
    background-color: #E4A9A8;
    border-radius: 20px;
    
  }
  @keyframes waviy2 {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-6.5px)
    }
  }

  a {
    text-decoration: none;
  }

  /* .text .address h1{
    left:20rem;
    display: flex;
    justify-content: center;
} */



